<script setup lang="ts">
import { nextTick, reactive, ref, watch } from 'vue';

class Person {
    id:number;
    name:string;
    surname:string;
    gender:string;
    static lastid = 1;
    constructor(name:string, surname:string, gender:string){
        this.id = Person.lastid++;
        this.name = name;
        this.surname = surname;
        this.gender = gender;
    }

}
const data = reactive<Person>({id:-1, name: '', surname: '', gender: '' });
const msg = reactive({ name: '', surname: '', gender: '' });
const personList = ref<Person[]>([]);
const showForm = ref(false);

const checkName = (name:string)=>{
    if (name.trim().length === 0) {
            msg.name = "first name is empty!"
            return false;
        }
        msg.name = '';
        return true;
}

const checkSurname = (surname:string)=>{
    if (surname.trim().length === 0) {
            msg.surname = "first name is empty!"
            return false;
        }
        msg.surname = '';

        return true;
}

const checkGender = (gender:string)=>{
    if (gender.trim().length === 0) {
            msg.gender = "first name is empty!"
            return false;
        }
        msg.gender = '';
        return true;

}
const clearForm = () =>{
    data.name = "";
    data.gender = "";
    data.surname = "";
    data.id = -1;
   nextTick(()=>{
    msg.gender = "";
    msg.surname = "";
    msg.name = "";
   })
}

watch(
    () => data.name,
    (name) => {
       checkName(name);
    }
);

watch(
    () => data.surname,
    (surname) => {
       checkSurname(surname);
    }
);


watch(
    () => data.gender,
    (gender) => {
       checkGender(gender);
    }
);

const doSubmit = () => {
    if(checkName(data.name)&& checkSurname(data.surname) && checkGender(data.gender)){
        if(data.id < 0){
            const p = new Person(data.name, data.surname, data.gender);
        personList.value.push(p);
       
        }else{
            const index = personList.value.findIndex((item) => item.id === data.id);
            personList.value[index].name = data.name;
            personList.value[index].surname = data.surname;
            personList.value[index].gender = data.gender;
        }

        showForm.value = false;

clearForm();

    }
}

const doEdite = (p:Person)=>{
 data.name = p.name;
 data.surname = p.surname;
 data.gender = p.gender;
 data.id = p.id; 
 showForm.value = true;
}

const doDelete = ()=>{
    const index = personList.value.findIndex((item) => item.id === data.id);
    personList.value.splice(index, 1);
}
</script>
<template>
<div>
    <h1 class="text-3xl">Person</h1>
</div>
    <div  class="container p-5 ">
        <div v-if="showForm">
            <form>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name.." v-model="data.name">
                <span class="error">{{ msg.name }}</span> <br>
                <label for="lname">Secound Name</label>
                <input type="text" id="surname" name="surname" placeholder="Your  surname.." v-model="data.surname">
                <span class="error">{{ msg.surname }}</span><br>
    
                <label for="country">Gender</label>
                <select id="gender" name="gender" v-model="data.gender">
                    <option disabled>Selected gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
    
                </select>
               <span class="error">{{ msg.gender }}</span> <br>
    
    
                <input type="submit" value="Submit" @click.prevent="doSubmit">
            </form>
        </div>
       
        <div class="my-7 text-right ">
            <button class="btn btn-accent mr-3 btn-sm" @click="(showForm = !showForm)">Add</button>
        </div>
       <div v-if="!showForm">
        <table id="persons" class="rounded-lg">
          
            <tr class="text-center bg-slate-700 text-gray-50 ">
                <td>Id</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Gender</td>
                <td>Operation</td>
            </tr>

            <tr v-for="(list,index) in personList" :key="index" class="text-center">
                <td >{{list.id}}</td>
                <td>{{list.name}}</td>
                <td>{{list.surname}}</td>
                <td>{{list.gender}}</td>
                <td>
                    <button class="btn btn-sm bg-warning border-yellow-400 mx-1" @click="doEdite(list)">Edit</button>
                    <button class="btn btn-sm bg-red-600 border-red-600 mx-1" @click="doDelete()">Delete</button>
                </td>
            </tr>
            <tr v-if="(personList.length === 0)" class="text-center">
                <td colspan="5" >No data</td>
            </tr>
        </table>
       </div>
    </div>

</template>

<style scoped>
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.error{
    display: block;
    color: rgb(213, 52, 52);
    font-size: small;
}

#persons {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #persons td, #persons th {
   /* border: 1px solid #ddd;*/
    padding: 8px;
  }
  
  #persons tr:nth-child(even){background-color: #f2f2f2;}
  
  #persons tr:hover {background-color: #ddd;}
  
  #persons th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
</style>